@import '_variaveis.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: monospace;
}

html,
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100%;
}

body {
    background: rgb(4, 2, 31);
    background: linear-gradient(
        160deg,
        rgba(4, 2, 31, 1) 0%,
        rgba(42, 57, 94, 1) 100%
    );
}

header {
    width: 100%;
    text-align: center;
    color: $font-white;
    padding: 1em;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 1em;
}

h1 {
    font-size: 1.4rem;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-white;
}

input {
    text-align: center;
    padding: $padding;
    border-radius: 3px;
    border: 3px solid #27355a;
    background: $font-white;
}

p {
    color: $font-white;
    text-align: center;
}

button {
    padding: $padding;
    border-radius: 3px;
    color: $font-white;
    border: 4px solid $green;
    background-color: green;

    &:hover,
    &:active {
        border-color: green;
        background-color: $green;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
