@import '_all';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

html,
body {
    line-height: 1.6;
    min-height: 100%;
}

body {
    background: $background-solid;
}

header {
    width: 100%;
    text-align: center;
    color: $font-white;
    padding: 1em;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 1em;
}

h1 {
    font-size: 1.4rem;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-white;
}

input {
    text-align: center;
    padding: $padding;
    border-radius: 3px;
    border: 3px solid #27355a;
    background: $font-white;
}

p {
    color: $font-white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

.holder {
    background: $background-holder;
    padding: $padding-holder;
    border-radius: 4px;
}

/* Para remover as setas no Chrome, Safari, Edge, etc. */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para remover as setas no Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
