.vez-de {
    font-size: 24px;
}

.pontos {
    font-size: 16px;
    font-weight: 400;
}

.table-holder {
    margin: 0 20px 20px;
}

.confirmar-jogada-holder {
    margin-top: 1em;
}

.reiniciar-partida {
    margin-bottom: 2em;
}

.check {
    width: 20px;
    margin-left: 10px;
}
