@import '_variaveis';

table {
    color: $font-white;
    margin-top: 1em;
    width: 100%;
    table-layout: fixed;
}

th {
    text-align: center;
    margin-right: 1em;
    font-size: $font-size;
    font-weight: 400;
}

td {
    text-align: center;
    color: #736890;
    background: #312c53;
    border-radius: 4px;
    font-size: $font-size + 4;

    &.marcado {
        background: #0092e5;
        color: $font-white;
    }

    &.preenchido {
        opacity: 0.4;
    }
}
